<a href="https://colab.research.google.com/github/DrabberSP/Valores-nulos/blob/main/2_Valores_Nulos_Clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importamos las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
# Carga desde un archivo .csv sin índice
data= pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
# Eliminar primera fila o filas innecesarias
data1=pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
# Eliminar columnas innecesarias
data2=data1.drop(['0','Referencia'], axis=1) #axis 1 para columnas, axis 0 para filas
data2

In [ ]:
# Identififar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

**Métodos de sustitución de valores nulos**

In [ ]:
# Realizamos una copia de data frame
data3=data2.copy()

In [ ]:
# Primer método: sustituir valores nulos con promedio
data3['Superficie']=data3['Superficie'].fillna(round(data2['Superficie'].mean(),1))

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
# Segundo método: sustituir valores nulos con mediana
data3['Precio Venta']=data3['Precio Venta'].fillna(round(data2['Precio Venta'].median(),1))

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
# Tercer método: valores nulos por un valor numérico en concreto
data3['Fecha Alta']=data3['Fecha Alta'].fillna(10)
data3

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
# Cuerto método: sustituir valores nulos por un string
data3['Fecha Venta']=data3['Fecha Venta'].fillna('2030-06-19 00;00;00')

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
# Quinto método: sustituir valores nulos hacia adelante
data3['Tipo']=data3['Tipo'].fillna(method="ffill")

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
# Sexto método: sustituir valores nulos hacia atrás
data3['Operación']=data3['Operación'].fillna(method="bfill")

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
# Sustituir valores nulos 
data3['Provincia']=data3['Provincia'].fillna(method="bfill")

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta        0
Tipo              0
Operación         0
Provincia         0
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [ ]:
# Sustituir valores nulos
data3['Vendedor']=data3['Vendedor'].fillna(method="ffill")

In [ ]:
# Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [ ]:
# Corroboramos valores nulos en todo el data frame
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

**Método de eliminación de valores nulos**

In [ ]:
# Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [ ]:
# Realizamos una copia del data frame
data4=data2.copy()

In [ ]:
# Eliminamos filas con nulos
data4= data2.dropna(0)
data4

In [ ]:
# Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

Comparamos DataFrame3 (sustitución) y DataFrame4 (eliminación)

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [ ]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 193.1+ KB

Convertir Data set sin valores nulos a csv

In [ ]:
# Convertir DataFrame a csv
data3.to_csv('inmuebles_sin_nulos.csv')

In [ ]:
# Descargar archivo
from google.colab import files
files.download('inmuebles_sin_nulos.csv')